.buildcontrol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.buildcontrol button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
}

.buildcontrol button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.buildcontrol button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.buildcontrol .less {
  background-color: #d39952;
  color: white;
}

.buildcontrol .more {
  background-color: #8f5e1e;
  color: white;
}

.buildcontrol .less:hover,
.buildcontrol .less:active {
  background-color: #daa972;
  color: white;
}

.buildcontrol .more:hover,
.buildcontrol .more:active {
  background-color: #99703f;
  color: white;
}
