@media (prefers-color-scheme: dark) {
  body {
    background-color: darkslategray;
    color: white;
  }
  .title {
    color: whitesmoke;
  }
}

.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}
